 /* RESET CSS */
    
 *{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

/*@font-face {
    font-family: ;
    src: url();
}*/

/*@media*/
body{
    font-family: "Roboto Mono, Helvetica, Arial";
}

img{
        display: block;
        width: 30%;
        border: 0.5px solid black;
        border-radius: 4px;
        
}
.img1{
       margin: 70px 500px;
       width: 70%;
       margin-right: 400px;
}
.img2{
    margin: 100px  500px;
    padding: 100px;
    width: 70%;  
}
.img3 {
    margin: 90px 650px;
    width: 100%;
}

.p{
        float: right;
        padding-right: 5px;
        text-align: left;

}

.p2{
    text-align: center;
    font-size: large;
    margin-left: 350px;
}

.banner {
    position: fixed;
    text-align: left;
    max-width: 300px;
    top: 0px;
    background-color: #D64933;
    padding-left:10px ;
    padding-right: 15px;
    border-bottom: 25px;
  }
 
  a {
    color: black;
    text-decoration: none;
  }
  h1,h2{
    text-align: center;
  }
  .flexgrid{
    width: 70%;
   margin: 70px 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    row-gap: 20px;
    column-gap: 20px;
  }
  

