 /* RESET CSS */
    
 *{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}
.body{
    font-family: "Roboto Mono, Helvetica, Arial";
}

img{
        display: block;
        width: 30%;
        border: 0.5px solid black;
        border-radius: 4px;
        padding: 5px;
}

.img1 {
       margin: 50px 10px 10px 400px;
       width: 70%;
}
.img2{
    margin: 70px 50px 70px 1000px;
    width: 70%;  
}
.img3{
    margin: 100px 100px 100px 100px;
    width: 70%;

}

.text{
    text-align: center;
    margin: 100px 200px 100px 200px;

}
.banner {
   font-size: 13pt;
    position: fixed;
    text-align: center;
    max-width: 300px;
    top: 10px;
    background-color: rgba(255, 0, 0, 0.828);
    background-size: ;
    border-bottom: 25px;
  }
  .text {
    content: "";
    clear: both;
    display: table;
  }
  

