 /* RESET CSS */
    
 *{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}
body{
    font-family: "Roboto Mono, Helvetica, Arial";
}

img{
        display: block;
        width: 30%;
        border: 0.5px solid black;
        border-radius: 4px;
        padding: 5px;
}
.img1 {
       margin: 70px 10px 10px 350px;
       width: 70%;
}
.img2{
    margin: 90px 0px 70px 500px;
    width: 70%;  
}


.p{
        float: right;
        padding: 2px;
}
.p2{
        float: left;
        padding: 10px;
        
}
.banner {
    position: fixed;
    text-align: left;
    max-width: 300px;
    top: 0px;
    background-color: #D64933;
    padding-left:10px ;
    padding-right: 15px;
    border-bottom: 25px;
  }
 
  
  

